# ignore all logs
.vscode/
.venv/
__pycache__/
*.py[cod]
dist/
.astro/
.astro-content/
*.log
node_modules/
.lighthouseci/
test-results/
playwright-report/
.env
*.sh
!.github/scripts/*.sh
.DS_Store
_cleanup-staging/
