.navigation {
  transition: .3s ease;

  @include desktop {
    background: $white;
  }
}

.nav-bg {
  background-color: $white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.161);
}

.navbar-light .navbar-nav .nav-link {
  color: $text-color-dark;

  &:hover {
    color: $secondary-color;
  }
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 20px 15px;

  @include desktop {
    padding: 10px 15px;
  }

  &.dropdown-toggle {
    padding-right: 28px;
  }
}

.navigation {
  .nav-item {
    margin: 0;

    .nav-link {
      text-transform: capitalize;
      position: relative;
      display: inline-block;
    }

    &.dropdown .dropdown-item {
      padding-top: 7px;
      padding-bottom: 7px;
      &:focus,
      &:hover {
        color: $secondary-color;
        background-color: rgba($primary-color, 0.05);
        padding-left: 1.6rem;
      }
    }

    &.dropdown .nav-link::after {
      display: none;
    }

    &.dropdown .nav-link::before {
      position: absolute;
      right: 14px;

      @include desktop {
        right: 12px;
      }

      top: calc(50% - 7px);
      display: inline-block;
      vertical-align: .255em;
      content: "";
      height: 9px;
      width: 9px;
      border: 2px solid;
      border-left: 0;
      border-top: 0;
      border-color: inherit;
      border-radius: 0;
      transform: rotate(45deg) scale(0.8);
      transition: 0s;
    }
  }
}

.dropdown-menu {
  text-align: center;
  border-radius: 0;
  border: 0;
  border-top: 3px solid $primary-color;
}

@media (min-width:991px) {
  .dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    width: 200px;
    transition: 0.2s;
    left: 50%;
    text-align: left;
    transform: translate(-50%, -15px);
  }

  .dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    box-shadow: 0 10px 30px rgba(22, 28, 45, .10);
    transform: translate(-50%, -6px);
  }

  .navigation {
    .nav-item:not(.dropdown):last-child {
      .nav-link {
        padding-right: 0 !important;
      }
    }
  }
}

/* search */
.search-btn {
  border: 0;
  background: transparent;
}

.search-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 2;
  visibility: hidden;
  transition: .2s ease;
  opacity: 0;

  &.open {
    visibility: visible;
    opacity: 1;
  }
}

.search-box {
  height: 100%;
  width: 100%;
  border: 0;
  background: $white;
  font-size: 20px;
  padding: 0;

  &:focus {
    box-shadow: none !important;
    outline: 0;
  }
}

.search-close {
  position: absolute;
  right: 20px;
  top: 52%;
  transform: translateY(-50%);
  border: 0;
  background: 0 0;
  page-break-after: 10px;
}

.search-wrapper-expanded {
  background-color: #fff;
  border: 1px solid #D6D6D6;
  .search-box {
    padding: 11px 15px;
    font-size: 16px;
  }
  .search-btn {
    width: 45px;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      height: 50%;
      top: 25%;
      left: -5px;
      border-left: 1px solid #D6D6D6;
    }
  }
}