<hr class="hr-fade sidebar-hr"/>
<h4>CTT Monthly Newsletter</h4>
<form action="https://flowxo.com/hooks/a/6q9gzne2">
    <input name="email" type="email" placeholder="john.doe@gmail.com"/>
    <input type="submit" value="Sign Up" />
</form>
<hr class="hr-fade sidebar-hr"/>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- sidebar -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6679678361432308"
     data-ad-slot="2001915683"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>