<h4>Newsletter</h4>
<form action="https://portal.christitus.com/email_lists/103855/subscriptions" accept-charset="UTF-8" method="post">
<input type="email" name="email" required="required" placeholder="Email" />
<input type="submit" value="Sign me up!" />
</form>
<hr class="hr-fade sidebar-hr"/>
<a href="https://christitus.com/recommendations/"><h4>Recommended Products</h4></a>
<hr class="hr-fade sidebar-hr"/>

  
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- sidebar -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6679678361432308"
     data-ad-slot="2001915683"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>