div.stickyside.pl-lg-4 {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin-top: 0px;
  }

.google-anchor {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin-top: 0px;
  }

.mainpagetitle {
  text-align:center
  
}

.bannerpad {
  align-content: center;
  text-align: center;
  margin-top: 10px;
  padding-top: 10px;
  padding-left: 1%;
  padding-right: 1%;
  width:70%;
}

.banner-social {
  display:inline-block;
  margin-top: 5px;
}

.banner-para {
  padding-bottom: 20px;
  text-align: left;
  font-size: larger !important;
}

.list-row {
  display:inline-block;
  align-self: center;
  width: auto;
}

.list-left {
  width:auto;
  padding:10px;
  float:left;
}

.list-right {
  padding:10px;
  float:right;
}

html {
	scroll-behavior: smooth;
}