/* Button style */
@mixin button-base {
  font-family: $primary-font;
  text-transform: capitalize;
  border-radius: 5px;
  border: 1px solid;
  position: relative;
  z-index: 1;
  transition: .2s ease;

  &:hover,
  &:active,
  &:focus {
    outline: 0;
    box-shadow: none !important;
  }
}

@mixin button-size($font-size, $padding) {
  font-size: $font-size;
  padding: $padding;
}

@mixin button-variant($background, $color, $border-color: $background) {
  background: $background;
  color: $color;
  border-color: $border-color;

  &:active,
  &:hover,
  &:focus,
  &.active {
    background: $background !important;
    border-color: $border-color !important;
    color: $color;
  }
}

.btn {
  @include button-base;
  @include button-size(16px, 12px 20px);
}

.btn-sm{
  @include button-size(15px, 6px 10px);
}

.btn-primary {
  @include button-variant($primary-color, $white);
}

.btn-outline-primary {
  @include button-variant(transparent, $primary-color);
  &:active,
  &:hover,
  &:focus,
  &.active {
    color: $white;
  }
}


.btn-transparent {
  @include button-variant(transparent, $primary-color, 0);
  border-bottom: 1px solid $primary-color;
  border-radius: 0;
  padding: 2px;
  background-color: transparent;
  border: 1px solid $secondary-color;
  color: $secondary-color;
}
