.iframe-container {
    overflow: hidden;
    padding-top: 100%; /* 4:3 aspect ratio */
    position: relative;
  }
   
  .iframe-container iframe {
     border: 0;
     height: 100%;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
  }
