<article class="mb-4 pb-2">
  <h2 class="h4"><a class="post-title" href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h2>
  <div class="mb-3 post-meta">
    {{ .PublishDate.Format "Jan 2, 2006" }}
    {{ if .Params.Categories }}
      <span class="mx-1">|</span>
      {{ range .Params.Categories }}
      <span class="post-category"><a href="{{ `categories/` | absLangURL }}{{ . | urlize | lower }}">{{ . | title }}</a></span>
      {{ end }}
    {{ end }}
  </div>
  <p>{{.Summary}}</p>
  <a href="{{ .Permalink }}" class="btn btn-sm btn-transparent pl-0">read more</a>
  <div style="border: 1px #eee solid; margin-top:40px"></div>
</article>