<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}" data-bs-theme="{{ site.Params.defaultTheme | default `dark` }}">

<head>
  {{ partial "head.html" . }}
  {{ partialCached "style.html" . }}
  {{ partial "structured-data.html" . }}
</head>

<body>
  {{- partial "header.html" . -}}
  {{- block "main" . }}
  {{- end }}
  <!-- Copy Code Button -->
  {{ if and (findRE "pre.*?" .Content 1) (.Site.Params.code_copy_button) }}
  <script defer src="/js/code-copy.js"></script>
  {{ end  }}
  <!-- END Copy Code Button -->
  {{ partial "footer.html" . }}
  {{ partial "script.html" . }}
</body>

</html>
