<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}" data-theme="{{ site.Params.defaultTheme | default `dark` }}">

<head>
  {{ partial "head.html" . }}
  {{ partialCached "style.html" . }}
</head>

<body>
  {{- partial "preloader.html" . -}}
  {{- partial "header.html" . -}}
  {{- block "main" . }}
  {{- end }}
  <!-- Ad Stuff 
  {{ partial "gtm-noscript.html" . }}-->
  <!-- Copy Code Titus -->
  {{ if (findRE "pre.*?" .Content 1) }}
  <script src="/js/code-copy.js"></script>
  {{ end  }}
  <!-- END Titus Mod-->
  {{ partial "footer.html" . }}
  {{ partial "script.html" . }}
</body>

</html>
