div.stickyside.pl-lg-4 {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin-top: 0px;
  }

.mainpagetitle {
  text-align:center
  
}

.bannerpad {
  align-content: center;
  margin-top: 10px;
  padding-top: 10px;
  padding-left: 1%;
  padding-right: 1%;
  width:70%;
}

.banner-social {
  display:inline-block;
  margin-top: 5px;
}

.banner-para {
  padding-bottom: 20px;
  font-size: larger !important;
}