<!DOCTYPE html>
<html lang="{{ with site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
{{- partial "head.html" . -}}

<head>
  {{ partial "head.html" . }}
  {{ partialCached "style.html" . }}
  <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-5817718-5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-5817718-5');
    </script>
</head>

<body>
  {{- partial "preloader.html" . -}}
  {{- partial "header.html" . -}}
  {{- block "main" . }}
  {{- end }}
  <!-- Ad Stuff -->
  {{ partial "gtm-noscript.html" . }}
  {{ partial "infolinks.html" . }}
  <!-- Copy Code Titus -->
  {{ if (findRE "pre.*?" .Content 1) }}
  <script src="/js/code-copy.js"></script>
  {{ end  }}
  <!-- END Titus Mod-->
  {{ partialCached "footer.html" . }}
  {{ partialCached "script.html" . }}
</body>

</html>