<!DOCTYPE html>
<html lang="{{ with site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

<head>
  {{ partial "head.html" . }}
  {{ partialCached "style.html" . }}
</head>

<body>
  {{- partial "preloader.html" . -}}
  {{- partial "header.html" . -}}
  {{- block "main" . }}
  {{- end }}
  <!-- Ad Stuff 
  {{ partial "gtm-noscript.html" . }}-->
  <!-- Copy Code Titus -->
  {{ if (findRE "pre.*?" .Content 1) }}
  <script src="/js/code-copy.js"></script>
  {{ end  }}
  <!-- {{ partial "3cx-chat.html" . }} -->
  <!-- END Titus Mod-->
  {{ partialCached "footer.html" . }}
  {{ partialCached "script.html" . }}
</body>

</html>
