<!-- font family -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/webfont/1.6.28/webfontloader.js" integrity="sha512-v/wOVTkoU7mXEJC3hXnw9AA6v32qzpknvuUF6J2Lbkasxaxn2nYcl+HGB7fr/kChGfCqubVr1n2sq1UFu3Gh1w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{{$pf:= site.Params.variables.primary_font}}
{{$sf:= site.Params.variables.secondary_font}}
<script>
  WebFont.load({
    google: {
      api: 'https://fonts.googleapis.com/css2',
      families: ['{{$pf}}{{if not $sf}}&display=swap{{end}}'{{with $sf}},'{{.}}&display=swap'{{end}}],
      version: 2
    },
    active: () => {
      sessionStorage.fontsLoaded = true
    }
  });
</script>

<!-- JS Plugins + Main script -->
{{ $scripts := slice }}
{{ range site.Params.plugins.js}}
{{ if findRE "^http" .link }}
<script src="{{ .link | absURL }}" type="application/javascript" {{.attributes | safeHTMLAttr}}></script>
{{ else }}
{{ with resources.Get .link }}
{{ $scripts = $scripts | append . }}
{{ end }}
{{ end }}
{{ end }}

{{ with resources.Get "js/script.js" }}
{{ $scripts = $scripts | append . }}
{{ end }}

{{ if $scripts }}
{{ $js := $scripts | resources.Concat "js/script.js" }}
{{ $secureJS := $js | minify | fingerprint "sha512" }}
<script crossorigin="anonymous" defer="defer" data-turbolinks-suppress-warning integrity="{{ $secureJS.Data.Integrity }}" type="application/javascript">{{$secureJS.Content | safeJS}}</script>
{{ end }}

<!-- cookie -->
{{ if site.Params.cookies.enable }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.5/js.cookie.min.js" integrity="sha512-nlp9/l96/EpjYBx7EP7pGASVXNe80hGhYAUrjeXnu/fyF5Py0/RXav4BBNs7n5Hx1WFhOEOWSAVjGeC3oKxDVQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<div id="js-cookie-box" class="cookie-box cookie-box-hide">
  This site uses cookies. By continuing to use this website, you agree to their use. <span id="js-cookie-button" class="btn btn-sm btn-primary rounded ml-2">I Accept</span>
</div>
<script>
  (function ($) {
    const cookieBox = document.getElementById('js-cookie-box');
    const cookieButton = document.getElementById('js-cookie-button');
    if (!Cookies.get('cookie-box')) {
      cookieBox.classList.remove('cookie-box-hide');
      cookieButton.onclick = function () {
        Cookies.set('cookie-box', true, {
          expires: {{ site.Params.cookies.expire_days }}
        });
        cookieBox.classList.add('cookie-box-hide');
      };
    }
  })(jQuery);
</script>

<!-- cookie style -->
<style>
.cookie-box {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 9999;
  padding: 1rem 2rem;
  background: #152035;
  transition: all .75s cubic-bezier(.19, 1, .22, 1);
  color: #fdfdfd;
}

.cookie-box-hide {
  display: none;
}
</style>
{{ end }}
