{{- $ogImage := "" -}}
{{- if .Params.image }}{{ $ogImage = .Params.image | absURL }}{{ else if site.Params.og_image }}{{ $ogImage = site.Params.og_image | absURL }}{{ end -}}
{{- $ogDescription := "" -}}
{{- if .Params.description }}{{ $ogDescription = .Params.description }}{{ else if .Summary }}{{ $ogDescription = .Summary | truncate 160 }}{{ else }}{{ $ogDescription = site.Params.description }}{{ end -}}

{{- if .IsHome -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": {{ site.Title | jsonify }},
  "url": {{ site.BaseURL | jsonify }},
  "description": {{ $ogDescription | jsonify }},
  "potentialAction": {
    "@type": "SearchAction",
    "target": {
      "@type": "EntryPoint",
      "urlTemplate": {{ (print site.BaseURL "search?s={search_term_string}") | jsonify }}
    },
    "query-input": "required name=search_term_string"
  }
}
</script>
{{- else if in (slice "post" "posts" "blog" "blogs" "news") .Section -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": {{ .Title | jsonify }},
  "description": {{ $ogDescription | jsonify }},
  "url": {{ .Permalink | jsonify }},
  "datePublished": {{ .PublishDate.Format "2006-01-02T15:04:05Z07:00" | jsonify }},
  "dateModified": {{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" | jsonify }},
  {{- with $ogImage }}
  "image": {{ . | jsonify }},
  {{- end }}
  {{- with .Params.categories }}
  "articleSection": {{ index . 0 | jsonify }},
  {{- end }}
  {{- with .Params.tags }}
  "keywords": {{ delimit . ", " | jsonify }},
  {{- end }}
  "author": {
    "@type": "Person",
    "name": {{ site.Params.author | jsonify }},
    "url": {{ site.BaseURL | jsonify }}
  },
  "publisher": {
    "@type": "Organization",
    "name": {{ site.Title | jsonify }},
    "logo": {
      "@type": "ImageObject",
      "url": {{ site.Params.logo | absURL | jsonify }}
    }
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": {{ .Permalink | jsonify }}
  }
}
</script>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": "Home",
      "item": {{ site.BaseURL | jsonify }}
    }{{- with .Params.categories -}},
    {
      "@type": "ListItem",
      "position": 2,
      "name": {{ index . 0 | jsonify }},
      "item": {{ (print site.BaseURL "categories/" (index . 0 | urlize | lower)) | jsonify }}
    },
    {
      "@type": "ListItem",
      "position": 3,
      "name": {{ $.Title | jsonify }},
      "item": {{ $.Permalink | jsonify }}
    }
    {{- else -}},
    {
      "@type": "ListItem",
      "position": 2,
      "name": {{ .Title | jsonify }},
      "item": {{ .Permalink | jsonify }}
    }
    {{- end }}
  ]
}
</script>
{{- else -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebPage",
  "name": {{ .Title | jsonify }},
  "description": {{ $ogDescription | jsonify }},
  "url": {{ .Permalink | jsonify }},
  "isPartOf": {
    "@type": "WebSite",
    "name": {{ site.Title | jsonify }},
    "url": {{ site.BaseURL | jsonify }}
  }
}
</script>
{{- end -}}
