<!-- plugins + stylesheet -->
<link rel="preconnect" href="https://fonts.gstatic.com">

{{ $styles := slice }}

{{ range site.Params.plugins.css }}
  {{ if findRE "^http" .link }}
  {{ else }}
    {{ $resource := resources.Get .link }}
    {{ with $resource }}
      {{ $styles = $styles | append . }}
    {{ end }}
  {{ end }}
{{ end }}

{{ with resources.Get "scss/style.scss" }}
  {{ $mainStyle := . | resources.ExecuteAsTemplate "style.scss" $ | toCSS }}
  {{ $styles = $styles | append $mainStyle }}
{{ end }}

{{ if $styles }}
  {{ $allStyles := $styles | resources.Concat "css/style.css" | minify | fingerprint "sha512" }}
  {{ with $allStyles }}
    <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
  {{ end }}
{{ end }}

<style>
  /* Unordered Lists */
  .content ul li:not(.nav-item) {
    position: relative;
    margin-bottom: 5px;
    margin-left: 25px;
    list-style-type: none;
    font-size: 14px;
  }
  .content ul li:not(.nav-item)::before {
    content: "";
    position: absolute;
    top: 1.2em;
    left: -20px;
    margin-top: -.9em;
    background: linear-gradient(45deg, #9AC4F8, #7e7e7e);
    height: 12px;
    width: 12px;
    border-radius: 50%;
  }

  ul li:not(.nav-item,.banner-social,.list-inline-item,.page-item) {
    position: relative;
    list-style-type: none;
    font-size: 15px;
  }
  ul li:not(.nav-item,.banner-social,.list-inline-item,.page-item)::before {
    content: "";
    position: absolute;
    top: 1.2em;
    left: -15px;
    margin-top: -.6em;
    background: linear-gradient(45deg, #9AC4F8, #7e7e7e);
    height: 8px;
    width: 8px;
    border-radius: 50%;
  }

  /* Ordered Lists */

  .content ol li {
    list-style-type: none;
    counter-increment: item;
    font-size: 14px;
  }

  .content ol li:before {
    content: counter(item);
    margin-right: 5px;
    font-size: 80%;
    background-color: #7e7e7e;
    color: #7eb4e2;
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 3px;
  }
  .notices p::before {
    position: absolute;
    top: 2px;
    font-family: "{{ with site.Params.variables }} {{.icon_font}} {{ end }}";
    font-weight: 900;
    content: "\f05a";
    left: 10px;
    display: none;
  }
  .notices p svg {
    position: absolute;
    top: 7px;
    left: 10px;
    color: {{ with site.Params.variables }} {{.white}} {{ end }};
  }
</style>