<section>
  <div class="container bannerpad">
    <!-- Twitch Embed -->
    <div id="twitchplayer"></div>
    <div id="twitchchat"></div>

    <script src="https://player.twitch.tv/js/embed/v1.js"></script>
    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', (event) => {
        var options = {
          channel: "christitustech",
          parent: ["christitus.com"],
          allowfullscreen: true,
          muted: true
        };
        var player = new Twitch.Player("twitchplayer", options);
        player.setVolume(0.0);

        // Calculate the aspect ratio (16:9)
        var aspectRatio = 16 / 9;

        function setPlayerSize() {
          var playerContainer = document.getElementById("twitchplayer");
          var maxWidth = 853; // maximum width for desktop
          var width = Math.min(playerContainer.clientWidth, maxWidth); 
          var height = width / aspectRatio; 
          player.setSize(width, height);
        }

        // Add an event listener to update the player size when the window is resized
        window.addEventListener("resize", setPlayerSize);

        // Initial call to set the player size
        setPlayerSize();

        function updateChatVisibility() {
          var width = window.innerWidth; // Current viewport width
          var chatContainer = document.getElementById("twitchchat"); // Get the chat container element

          // Hide the chat on mobile (width less than or equal to 767 pixels)
          if (width <= 767) {
            chatContainer.style.display = "none"; // Hide the chat
          } else {
            chatContainer.style.display = "block"; // Show the chat
          }
        }

        // Add an event listener to update the chat visibility when the window is resized
        window.addEventListener("resize", updateChatVisibility);

        // Initial call to set the chat visibility
        updateChatVisibility();
      });
    </script>
    

  </div>
</section>


<!-- original banner 
<section class="banner-creative" style="background-image:url('{{ site.Params.banner.bg_image | absURL }}')">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-lg-8 mb-4 mb-lg-0 order-1 order-lg-0">
        <h1 class="title">{{ site.Params.banner.title | markdownify }}</h1>
      </div>
      {{ with site.Params.banner.image }}
      <div class="col-lg-4 col-md-4 col-sm-6 order-0 order-lg-1 mb-5 mb-lg-0">
        <img class="w-100" src="{{ . | absURL }}" alt="{{ site.Title }}">
      </div>
      {{ end }}
    </div>
  </div>
</section>
/banner -->
