<section>
  <div class="container bannerpad">
    <script type="text/javascript">
      //... previous code ...
    
      function setPlayerSize() {
        var playerContainer = document.getElementById("twitchplayer");
        var width = playerContainer.clientWidth; // Get the current width of the player container
        var height = width / aspectRatio; // Calculate the height based on the aspect ratio
        player.setSize(width, height); // Set the size of the player
      }
    
      // Add an event listener to update the player size when the window is resized
      window.addEventListener("resize", setPlayerSize);
    
      // Initial call to set the player size
      setPlayerSize();
    </script>
    

  </div>
</section>


<!-- original banner 
<section class="banner-creative" style="background-image:url('{{ site.Params.banner.bg_image | absURL }}')">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-lg-8 mb-4 mb-lg-0 order-1 order-lg-0">
        <h1 class="title">{{ site.Params.banner.title | markdownify }}</h1>
      </div>
      {{ with site.Params.banner.image }}
      <div class="col-lg-4 col-md-4 col-sm-6 order-0 order-lg-1 mb-5 mb-lg-0">
        <img class="w-100" src="{{ . | absURL }}" alt="{{ site.Title }}">
      </div>
      {{ end }}
    </div>
  </div>
</section>
/banner -->
