<section>
  <div class="container bannerpad">
    <div class="list-row">
      <!-- Twitch Embed -->
        <script src= "https://player.twitch.tv/js/embed/v1.js"></script>
        <div id="twitchplayer"></div>
        <script type="text/javascript">
          var options = {
            width: 854,
            height: 480,
            channel: "christitustech",
            parent: ["christitus.com"]
          };
          var player = new Twitch.Player("twitchplayer", options);
          player.setVolume(0.0);
        </script>


      <!--h1 class="mainpagetitle">Chris Titus Tech</h1-->
      <h4 class="banner-social">
      {{ "<!-- about me -->" | safeHTML }}
      {{ with site.Params.social_profile }}
      <ul class="list-unstyled list-inline">
          {{ range . }}
          <li class="banner-social mr-3"><a href="{{ .link }}" aria-label="Social Profile"><i class="{{ .icon }}"></i></a></li>
          {{ end }}
      </ul>
      {{ end }}</h4>
    </div>
    </td>
  </div>
</section>


<!-- original banner 
<section class="banner-creative" style="background-image:url('{{ site.Params.banner.bg_image | absURL }}')">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-lg-8 mb-4 mb-lg-0 order-1 order-lg-0">
        <h1 class="title">{{ site.Params.banner.title | markdownify }}</h1>
      </div>
      {{ with site.Params.banner.image }}
      <div class="col-lg-4 col-md-4 col-sm-6 order-0 order-lg-1 mb-5 mb-lg-0">
        <img class="w-100" src="{{ . | absURL }}" alt="{{ site.Title }}">
      </div>
      {{ end }}
    </div>
  </div>
</section>
/banner -->
