{{ with site.Params.variables }}
// Color Variables
$primary-color: {{.primary_color}};
$secondary-color: {{.secondary_color}};
$text-color: {{.text_color}};
$text-color-dark: {{.text_color_dark}};
$body-color: {{.body_color}};
$border-color: {{.border_color}};
$black: {{.black}};
$white: {{.white}};
$light: {{.light}};

// Font Variables
$primary-font: '{{ replaceRE ":wght@[0-9;]+" "" .primary_font }}', sans-serif;
$secondary-font: '{{ replaceRE ":wght@[0-9;]+" "" .secondary_font }}', sans-serif;
$icon-font: '{{.icon_font}}';
{{ end }}

@import 'mixins';
@import 'typography';
@import 'buttons';
@import 'common';
@import 'templates/navigation.scss';
@import 'templates/main.scss';

body.dark-mode, 
body.dark-mode main * {
    background: rgb(45, 45, 45);
    color: #f5f5f5;
}

body.dark-mode p,body.dark-mode .paragraph {
    font-weight: 400;
    color: #f5f5f5;
    font-family: $primary-font;
}

body.dark-mode table {
    background: rgb(205, 205, 205);
    color:#333
}
//sticky top non scroll bg
body.dark-mode header.sticky-top {
    background: rgb(255, 255, 255);
}

header.nav-bg {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s .5s, opacity .5s linear;
}

body.dark-mode a.px-3 {
    color: $text_color_dark;
}

body.dark-mode .col-lg-8,
body.dark-mode .featured-post-slider::before,
body.dark-mode .bg-white,
body.dark-mode li.list-inline-item,
body.dark-mode div.widget,
body.dark-mode .card-block,
body.dark-mode .col-md-6 *,
body.dark-mode .bannerpad {
    background: rgb(55, 55, 55) !important;
}

body.dark-mode a {
    color: #f5f5f5;
    &:hover{
      text-decoration: underline;
      color: $primary-color;
    }
}

body.dark-mode a.text-dark {
    color: #f5f5f5 !important;
    &:hover{
      text-decoration: underline;
      color: $primary-color;
    }
}

body.dark-mode a.dropdown-item,body.dark-mode a.nav-link {
    color: $text_color_dark;
    &:hover{
      text-decoration: underline;
      color: $primary-color;
    }
}

body.dark-mode h1,body.dark-mode h2,body.dark-mode h3,body.dark-mode h4,body.dark-mode h5,body.dark-mode h6 {
    color: #f9f9f9;
    font-family: $primary-font;
    font-weight: 600;
    line-height: 1.2;
    a{
        &:hover{
        text-decoration: none;
        }
    }
}

h2.article-center {
    display: block;
    margin: 0 auto;
    width: 300px;
    text-align: center;
}

.highlight {
    position: relative;
}
.highlight pre {
    padding-right: 75px;
}
.highlight-copy-btn {
    position: absolute;
    bottom: 7px;
    right: 7px;
    border: 0;
    border-radius: 4px;
    padding: 1px;
    font-size: 0.7em;
    line-height: 1.8;
    color: #fff;
    background-color: #777;
    min-width: 55px;
    text-align: center;
}
.highlight-copy-btn:hover {
    background-color: #666;
}