{{ "<!-- Search -->" | safeHTML }}
<div class="widget">
  <a href="https://www.cttstore.com/downloads"><img src="../images/ctt-store-banner.jpg" class="img-fluid w-100 mb-4"></a>
</div>
{{ if site.Params.googlead.enable }}
{{ with site.Params.googlead }}

<!--Google -->
<!-- sidebar
<div class="widget">
  <h5 class="widget-title"></h5>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6679678361432308"
     data-ad-slot="2001915683"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
-->
{{ end }}
{{ end }}