<div class="nitter-tweet nitter-tweet-rendered">
    <a
        class="nitter-anchor"
        href="{{ site.Params.nitter_instance }}/{{ with .Get "user" }}{{ . }}{{ else }}{{ site.Params.nitter_default_user }}{{ end }}/status/{{ .Get "id" }}"
        rel="noopener noreferrer nofollow"
        target="_blank"
        role="link"
    ></a>
    
    <iframe
        class="nitter-widget"
        scrolling="no"
        frameborder="0"
        allowtransparency="true"
        allowfullscreen="true"
        src="{{ site.Params.nitter_instance }}/{{ with .Get "user" }}{{ . }}{{ else }}{{ site.Params.nitter_default_user }}{{ end }}/status/{{ .Get "id" }}/embed?theme={{ site.Params.nitter_theme }}"
    ></iframe>
</div>